@import url("https://fonts.googleapis.com/css?family=Loved+by+the+King&display=swap");

.container {
  position: absolute;
  right: 30px;
  top: 300px;
  width: 60%;
 
}

.title {
  font-family: "Loved by the King", cursive;
  font-size: 6rem;
  letter-spacing: 6px;
  text-align: right;
  color: white;
}
.subTitle {
  color: white;
  text-align: right;
  margin-left: 15rem;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
}

.iconBox{
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 30px;
  left: 15px;
  
}
.icon{
  color: white;
  text-decoration: none;
  height: 2rem;
  margin: 0.2rem 0;
  padding-right: 40px;

}

.icon:hover{
  transform: translate(3px);
}

.hidden{
  display: none;
}

@media screen and (max-width:768px) {
  .hidden{
    display: inline;
    position: absolute;
    top: 30px;
    left: -100px;
  }
}