.container {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.navlinks {
  display: inline-block;
  right: 40px;
 
}

.link {
  text-decoration: none;
  padding: 1rem;
  color: white;
}
.link:hover {
  color: #fada0e
}

.logo{
  height: 200px;
  margin-left: 4rem;
}
