@import url("https://fonts.googleapis.com/css?family=Barlow&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Barlow", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-image: url('./images/photo-of-light-bulb-1495580.jpg');
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  body{
    background-image: none;
  }
}
